$extra-small-rounded: 4px;
$extra-small-top-rounded: 4px 4px 0 0;
$small-rounded: 8px;
$medium-rounded: 12px;
$large-rounded: 16px;
$large-end-rounded: 0px 16px 16px 0;
$large-top-rounded: 16px  16px 0 0;
$extra-large-rounded: 28px;
$extra-large-top-rounded: 28px 28px 0 0;
$full-rounded: 100px;