@mixin flex($justify: center, $align: center, $direction: row) {
    display: Flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin pos($l: unset, $t: unset, $r: unset, $b: unset, $y-off: 0, $x-off: 0) {
    position: absolute;

    @if $y-off != 0 or $y-off != 0 {
        transform: translate($x-off, $y-off);
    }

    left: $l;
    right: $r;
    top: $t;
    bottom: $b
}

@mixin pseudo-normalize() {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin text-overflow($max-width: false) {
    @if $max-width { max-width: $max-width }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin hide-scrollbar() {
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none }
}

@mixin minWSize($breakpoint) {
    @media screen and (min-width: #{$breakpoint}) { @content }
};

@mixin maxWSize($breakpoint) {
    @media screen and (max-width: #{$breakpoint}) { @content }
};

@mixin minHSize($breakpoint) {
    @media screen and (min-height: #{$breakpoint}) { @content }
};

@mixin maxHSize($breakpoint) {
    @media screen and (max-height: #{$breakpoint}) { @content }
}