:root.light {
    --md-sys-color-primary: #{palette-color('primary', 40)};
    --md-sys-color-on-primary: #{palette-color('primary', 100)};
    --md-sys-color-primary-container: #{palette-color('primary', 90)};
    --md-sys-color-on-primary-container: #{palette-color('primary', 10)};
    --md-sys-color-secondary: #{palette-color('secondary', 40)};
    --md-sys-color-on-secondary: #{palette-color('secondary', 100)};
    --md-sys-color-secondary-container: #{palette-color('secondary', 90)};
    --md-sys-color-on-secondary-container: #{palette-color('secondary', 10)};
    --md-sys-color-tertiary: #{palette-color('tertiary', 40)};
    --md-sys-color-on-tertiary: #{palette-color('tertiary', 100)};
    --md-sys-color-tertiary-container: #{palette-color('tertiary', 90)};
    --md-sys-color-on-tertiary-container: #{palette-color('tertiary', 10)};
    --md-sys-color-error: #{palette-color('error', 40)};
    --md-sys-color-on-error: #{palette-color('error', 100)};
    --md-sys-color-error-container: #{palette-color('error', 90)};
    --md-sys-color-on-error-container: #{palette-color('error', 10)};

    --md-sys-color-background: #{palette-color('neutral', 99)};
    --md-sys-color-on-background: #{palette-color('neutral', 10)};

    --md-sys-color-surface: #{palette-color('neutral', 99)};
    --md-sys-color-on-surface: #{palette-color('neutral', 10)};
    --md-sys-color-surface-variant: #{palette-color('neutral-variant', 90)};
    --md-sys-color-on-surface-variant: #{palette-color('neutral-variant', 30)};

    --md-sys-color-outline: #{palette-color('neutral-variant', 50)};
    --md-sys-color-outline-variant: #{palette-color('neutral-variant', 80)};

    --md-sys-color-inverse-surface: #{palette-color('neutral', 20)};
    --md-sys-color-inverse-on-surface: #{palette-color('neutral', 95)};
    --md-sys-color-inverse-primary: #{palette-color('primary', 80)};

    --md-sys-color-shadow: #{palette-color('neutral', 0)};

    --md-sys-color-surface-tint: #{palette-color('primary', 40)};

    --md-sys-color-scrim: #{palette-color('neutral', 0)};
    
    --md-sys-color-surface1: #{surface('light', 95%)};
    --md-sys-color-surface2: #{surface('light', 92%)};
    --md-sys-color-surface3: #{surface('light', 89%)};
    --md-sys-color-surface4: #{surface('light', 88%)};
    --md-sys-color-surface5: #{surface('light', 86%)};

    --md-sys-elevation1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --md-sys-elevation2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --md-sys-elevation3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
    --md-sys-elevation5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}